name: Ruby

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test

    steps:
      - name: Check out files
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Start Redis
        uses: supercharge/redis-github-action@1.7.0
        with:
          redis-version: 7.0.7

      - name: StandardRB
        run: bundle exec standardrb --format simple

      - name: RSpec tests
        run: bundle exec rspec --color --backtrace
